@import "_reset";

a{
    text-decoration: none; }

h1{
    font-size: 70px; }

p{
    font-size: 30px; }

.btn{
    padding: 15px 25px;
    color: black;
    background-color: white;
    margin: 2px;

    &:active{
        background-color: black;
        color: white;
    }

    &-dark{
        background-color: black;
        color: white;

        &:active{
            background-color: white;
            color: black;
        }
    }
}


.slider{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 25px;
    height: 100vh;
}


#slider-1{
    background-color: green;

    h1{
        animation: animate-header 3s linear;
    }

    p{
        animation: animate-text 3s linear;
    }
}

@keyframes animate-header{
    from{
        transform: translate(-300px, -300px);  
    }
      to{
        transform: translate(0, 0);  
    }
}

@keyframes animate-text{
    from{
        transform: translate(-2000px, 0);  
      }
      to{
        transform: translate(0, 0);  
      }
    }

#slider-2{
    background-color: blueviolet;
}

#slider-3{
    background-color: blue;
}

#slider-4{
    background-color: gray;
}